<!DOCTYPE html>
<html lang="sv" xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Company Name</title>
        <link href="css/style.css" rel="stylesheet" type="text/css" />
        
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>

    <body>
        <div class="wrapper">
            <div class="topWrapper">
                <div class="topContainer">
                    <div class="menuContainer">
                        <div class="navMenu">
                            <ul>
                                <li>
                                    <a href="index.html" th:href="@{/}" class="home">Home</a>
                                </li>
                                <li>
                                    <a href="contact_us.html" th:href="@{contact}" class="currentPage">Contact</a>
                                </li>
                                <li>
                                    <a href="#" class="cart">Cart</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="header">
                        <div class="logo"><img src="img/logo.png" id="logotype" alt="Lilla Kammaren" /></div>
                        <div class="social">
                            <a href="http://www.facebook.com" target="_blank"><img class="socialBtn" src="img/facebook_btn.png" alt="Vår Facebook sida" /></a>
                            <a href="http://www.twitter.com" target="_blank"><img class="socialBtn" src="img/twitter_btn.png" alt="Vår Twitter sida" /></a>
                            <a href="http://www.pinterest.com" target="_blank"><img class="socialBtn" src="img/pinterest_btn.png" alt="Lilla Kammaren på pinterest" /></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bowContainer">
                <div class="lineholder">
                    <div class="line"></div>
                    <div class="line"></div>

                    <div class="bowPositioner">
                        <div class="bowholder">
                            <img src="img/bow.png" id="bow" alt="Rosett" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="contentWrapper">
                <div class="bodyWrapper">
                    <div class="bodyContainer">
                        <div class="productMenu">
                            <p class="offer">Products</p>
                            <ul>
                                
                            </ul>

                            <p class="offer">Offers</p>
                            <a href="#" id="offerBox"></a>
                        </div>


                        <div class="content">
                            <div>
                                <h2>Contact us!</h2>
                                <form>
                                    <p class="pform">Name: <span style="color:red">*</span></p>
                                    <input type="text" name="name" required="required" /><br/>
                                    <p class="pform">Email: <span style="color:red">*</span></p>
                                    <input type="email" name="email" required="required" /><br/>
                                    <p class="pform">Order number:</p>
                                    <input type="email" name="orderno" /><br/>
                                    <p class="pform">Message: <span style="color:red">*</span></p>
                                    <textarea name="message" class="textarea" cols="40" rows="4" required="required" /><br/>
                                    <p class="pform"><span class="required">* Fields are required</span></p>
                                    <input type="submit" value="Skicka"/>
                                </form>
                                <p class="success"></p>
                            </div>
                        </div>


                        <div class="specials">
                            <div class="specialsChild">
                                <div class="wrap">
                                    <a href="#" id="new" class="button">New</a>
                                </div>
                            </div>
                            <div class="specialsChild">
                                <div class="wrap">
                                    <a href="#" id="sale" class="button">SALE</a>
                                </div>
                            </div>
                            <div class="specialsChild">
                                <div class="wrap">
                                    <a href="#" id="spotlight" class="button">Spotlight</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="copyrightWrapper">
                        <table>
                            <tr>
                                <td colspan="3" class="horizontal"></td>
                            </tr>
                            <tr>
                                <td class="vertical"></td>
                                <td class="copyText">&copy; Company Name 201X</td>
                                <td class="vertical"></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="horizontal"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>